/* components/common/Breadcrumb/breadcrumb.css */

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 15px;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumb a {
  color: white;
  text-decoration: none;

  transition: all 0.3s ease;
}

.breadcrumb a:hover {
  opacity: 0.8;
}

.separator {
  color: rgba(255, 255, 255, 0.7);
}

.active {
  color: #d1d5db;
  font-weight: 500;
}

/* MOBILE */
@media (max-width: 768px) {
  .breadcrumb {
    justify-content: center;
    font-size: 14px;
  }
}
